#redBanner{
    position: relative; 
    width: 100%;
    height: 200px;


}
#carBanner {
    position: absolute;
    top: 50px;
    left: 30%;
    

}
#topGrid{
    display: grid;
    place-items: center;
   
}
#secondGrid{
    height: 480px;
    
    /* position: relative; */
   
    position: relative; 
}

#centerHeader{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;

    
}
#lastGrid
{
    position: absolute;
    bottom: 45%;
    width: 100%;
    

}
table{
   
    border-spacing: 40px 2px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: solid;
    color: #CC0000;
}
#homepageCars{
    
    position: absolute;
    bottom: 18%;
    width: 100%;
}

#lastElement
{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    

    
}